@charset "utf-8";
/* CSS Document */

body {
	background: white;	
}

#appPreview, #appView {
	background: white;
	margin: 0px auto;
	width: 1020px;	
}

a {
	color: #ffffff;
	text-decoration: none;
}

.border {
	border: 2px solid #000;	
}

.borderRound {
	border-radius: 5px;
	border: 2px solid #000;	
}

.borderRight {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 2px solid #000;
}

.borderLeft {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border: 2px solid #000;
}

.bangersFont {
	color: #ffffff;
	font-family: Bangers;
	font-size: 15px;
}

.bangersMedFont {
	color: #ffffff;
	font-family: Bangers;
	font-size: 22px;
	text-shadow: 
		-1px -1px 0 #000,
    	1px -1px 0 #000,
   		-1px 3px 0 #000,
    	1px 1px 0 #000;  
	text-align: left;
}

.bangersBigFont {
	color: #ffffff;
	font-family: Bangers;
	font-size: 36px;
	text-shadow: 
		-1px -1px 0 #000,
    	1px -1px 0 #000,
   		-1px 4px 0 #000,
    	1px 1px 0 #000;  
	text-align: center;
}

.openSansFont {
	color: #000;
	font-family: "Open Sans";	
	font-size: 15px;
}

.openSansBoldFont {
	color: #000;
	font-family: "Open Sans";	
	font-size: 15px;
	font-weight: bold;
}

.openSansXBoldFont {
	color: #000;
	font-family: "Open Sans";	
	font-size: 15px;
	font-weight: 900;
}

.textShadow {
	text-shadow: 
		-1px -1px 0 #000,
    	1px -1px 0 #000,
   		-1px 3px 0 #000,
    	1px 1px 0 #000;  	
}

.form {
	height: 29px;
	width: 196px;
	font-family: "Open Sans";
	font-weight: bold;
	font-size: 15px;
	color: #000;
}

.button {
	height: 35px;
	width: 50px;
	text-align: center;
	background: #00b7f5; /* Old browsers */
		background: -moz-linear-gradient(top, #00b7f5 0%, #00093d 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7f5), color-stop(100%,#00093d)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #00b7f5 0%,#00093d 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #00b7f5 0%,#00093d 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #00b7f5 0%,#00093d 100%); /* IE10+ */
		background: linear-gradient(to bottom, #00b7f5 0%,#00093d 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7f5', endColorstr='#00093d',GradientType=0 ); /* IE6-9 */;
	color: white;
}

.blueGradient {
	background: #00b7f5; /* Old browsers */
	background: -moz-linear-gradient(top, #00b7f5 0%, #00093d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7f5), color-stop(100%,#00093d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #00b7f5 0%,#00093d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #00b7f5 0%,#00093d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #00b7f5 0%,#00093d 100%); /* IE10+ */
	background: linear-gradient(to bottom, #00b7f5 0%,#00093d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7f5', endColorstr='#00093d',GradientType=0 ); /* IE6-9 */;
}

.reverseBlueGradient {
	background: #00b7f5; /* Old browsers */
	background: -moz-linear-gradient(top, #00093d 0%, #00b7f5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00093d), color-stop(100%,#00b7f5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #00093d 0%,#00b7f5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #00093d 0%,#00b7f5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #00093d 0%,#00b7f5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #00093d 0%,#00b7f5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00093d', endColorstr='#00b7f5',GradientType=0 ); /* IE6-9 */;
}

.yellowGradient {
	background: #ffff00; /* Old browsers */
	background: -moz-linear-gradient(top, #ffff00 0%, #ff9a00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffff00), color-stop(100%,#ff9a00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffff00 0%,#ff9a00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffff00 0%,#ff9a00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffff00 0%,#ff9a00 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffff00 0%,#ff9a00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff00', endColorstr='#ff9a00',GradientType=0 ); /* IE6-9 */
}

.greyGradient {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #9b9b9b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#9b9b9b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#9b9b9b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#9b9b9b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#9b9b9b 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#9b9b9b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#9b9b9b',GradientType=0 ); /* IE6-9 */
}


/****************************************

PERSISTENT CONTENT

****************************************/

/*************************************************************************************

HEADER

*************************************************************************************/


.topNavContainer {
	height: 30px;
	width: 1020px;
	background-color: #000000;
	float: left;
}

.topNavLeft {
	height: 20;
	width: 40%;
	padding-left: 40px;
	margin-top: 7px;
	text-align: left;
	float: left;	
}

.topNavRight {
	height: 20;
	padding-right: 40px;
	margin-top: 8px;
	text-align: right;
	float: right;
}

.topNavLink {
	width: 110px;
	float: left;
}

#yellowShopping {
	color: #ffcc00;	
}

.headerBrandingContainer {
	height: 152px;
	width: 940px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

.headerBranding {
	float: left;
	width: 313px;
	margin-left: 25px;
	margin-top: 10px;
}

.headerBranding 2bhipLogo {
	margin-top: 10px;
	margin-left: 25px;	
}

.headerSearchBar {
	position: absolute;
	top: 85px;
	left: 580px;
}

.headerSearchButton {
	position: absolute;
	top: 85px;
	left: 778px;
}

#headerPhone {
	position: absolute;
	top: 50px;
	left: 940px;
	margin-bottom: 10px;
}

.socialIconContainer {
	position: absolute;
	top: 100px;
	left: 885px;
	height: 50px;
	width: 263px;
	margin-left: 25px;	
}

.socialIcons {
	height: 40px;
	width: 20%;
	margin-top: 4px;
	margin-left: 10px;
	float: left;	
}

.socialIcons img {
	margin-left: 9px;
}

.mainNavBarContainer {
	position: relative;
	height: 100px;
	width: 940px;	
	background-color: #ffcc00;
	margin: auto;
	z-index: 1;
}

.mainNavBarContainer img {
	position: absolute;
	top: 0px;
	z-index: 0;	
}

.mainNavBarLinksContainer {
	position: absolute;
	height: 100px;
	width: 940px;	
}

.mainNavBarLinks {
	z-index: 3;
	height: 40px;
	width: 155px;
	margin-top: 20px;
	margin-left: 15px;
	font-size: 31px;
	float: left;	
}

#characters {
	width: 230px;	
}

.navBarContainer {
	position: absolute;
	top: 235px;
	left: 50%;
	height: 50px;
	width: 960px;
	margin-left: -483px;
	z-index: 4;
}


/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

END HEADER

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%/*


/*NAV BAR DROP DOWN**************************************************************/

.nav {
	width: 85px;
	color: #fff;
	float: left;
	position:relative;
	height: 48px;
	overflow: show;
	font-size: 13px;
	text-align: center;
}

.nav:hover {
	border: 2px solid #000;	
	background-color: background: #00b7f5; /* Old browsers */
	background: -moz-linear-gradient(top, #00093d 0%, #00b7f5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00093d), color-stop(100%,#00b7f5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #00093d 0%,#00b7f5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #00093d 0%,#00b7f5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #00093d 0%,#00b7f5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #00093d 0%,#00b7f5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00093d', endColorstr='#00b7f5',GradientType=0 ); /* IE6-9 */;
}

.tooNarrow {
	width: 40px;
}

.tooWide {
	width: 105px;
}
	
.dropdown {
	height: 0px;
	width: 707px;
	position:absolute;
	background-image: url(images/DropdownImage.png);
	top: 20px;
	margin-top: 31px;
	overflow: hidden;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: bold;
	text-align: left;
}

.dropdown.leftAlign {
	left: 0px;
}

.dropdown.rightAlign {
	right: 0px;
}

.ddListHead {
	color: #000;
	font-size: 18px;
	line-height: 30px;
}

.dropdown ul {
	color: #006099;
	font-family: "Open Sans";
	list-style: none;
	line-height: 20px;
}

.dropdown li {
	margin: 0px 0px;
}

.dropdown div:first-of-type {
	margin-top: 0px;
}

.dropdown div {
	margin-bottom: 10px;
}

#navBar {
	width: 100%;
}

.clear {
	clear: both;
}

#main {
	height: 40px;
	width: 960px;
	line-height: 48px;
	margin-left: 3px;
}

/*END NAV BAR DROP DOWN %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

.freeShippingBarContainer {
	height: 50px;
	width: 940px;	
	background-color: #000000;
	margin-top: 24px;
	margin-left: auto;
	margin-right: auto;
}

.freeShipping {
	width: 740px;
	margin-top: 9px;
	padding-left: 110px;
	float: left;	
}

.learnMore {
	height: 30px;
	width: 80px;
	margin-top: 14px;
	float: right;
}


/*************************************************************************************

FOOTER

*************************************************************************************/



/*FOOTER INTERACTION*********************************************/

.footerInteractionContainer {
	position: relative;
	height: 70px;
	width: 1020px;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	clear: both;
}

.footerGradient {
	background: #575757; /* Old browsers */
	background: -moz-linear-gradient(top, #575757 0%, #1c1c1c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#575757), color-stop(100%,#1c1c1c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #575757 0%,#1c1c1c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #575757 0%,#1c1c1c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #575757 0%,#1c1c1c 100%); /* IE10+ */
	background: linear-gradient(to bottom, #575757 0%,#1c1c1c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#575757', endColorstr='#1c1c1c',GradientType=0 ); /* IE6-9 */
}

.stayUpdatedContainer {
	position: absolute;
	top: 18px;
	left: 37px;
	height: 40px;
	width: 568px;	
}

.stayUpdated {
	position: absolute;
	top: 6px;
	left: 0px;
	width: 115px;	
}

.footerNameBar{
	position: absolute;
	left: 115px;
}

.footerEmailBar{
	position: absolute;
	top: 0px;
	left: 320px;	
}

.footerButtonContainer {
	position: absolute;
	left: 518px;
	top: 0px;
	height: 35px;
	width: 50px;	
}

.footerSignUpButton {	
	height: 35px;
	width: 50px;
	text-align: center;
	background: #009;
	color: white;
}

.getSocial {
	position: absolute;
	left: 630px;
	top: 27px;
	height: 50px;
	width: 122px;	
}

.footerSocialIconContainer {
	position: absolute;
	left: 733px;
	top: 11px;
	width: 263px;	
}

/*END FOOTER INTERACTION %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%


/*FOOTER LINKS*********************************************/

.footerLinksContainer {
	height: 350px;
	width: 1020px;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	background-color: #006099;	
}

.footerLinks {
	height: 325px;
	width: 237px;
	margin-left: 18px;
	float: left;	
}

.catagories {
	margin-left: 25px;	
}

.footerLinks ul {
	list-style: none;
}

.footerLinkHead {
	margin-top: 20px;	
	margin-bottom: 10px;	
	font-size: 22px;
	text-align: left;
}

.footerLinkListItem {
	margin-bottom: 5px;	
	color: #ffffff;
	font-size: 14px;
	
}

/*END FOOTER LINKS %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%


/*FOOTER INFO BAR*********************************************/
.footerInfoContainer {
	position: relative;
	height: 60px;
	width: 1020px;
	background-color: #000;
}

.creditContainer {
	position: absolute;
	top: 1px;
	left: 50%;
	height: 50px;
	width: 196px;
	margin-left: -98px;	
}

.creditCards {
	height: 29px;
	width: 55px;
	margin-top: 14px;
	float: left;
}

.amex {
	width: 30px;
}

.mcaffeContainer {
	height: 23px;
	width: 96px;
	margin-top: 19px;
	margin-right: 40px;
	background-image: url(images/McAfeeLogo.png);
	float: right;	
}


.copyright {
	height: 62px;
	width: 1020px;
	padding-top: 25px;
	text-align: center;	
}

/*END FOOTER INFO BAR %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%


/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

END FOOTER

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/



/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

NON-PERSISTENT CONTENT

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/



/*************************************************************************************

HOME PAGE 

*************************************************************************************/


.mainBannerContainer {
	height: 300px;
	width: 936px;
	margin: auto;
	background-color: #09F;
}

.relativeMainBannerContainer {
	position: relative;
	height: 300px;
	width: 936px;
	margin: auto;
	z-index: 0;
}

.mainBannerCarouselCatagories {
	float: left;
	width: 936;
	height: 300;
}

.carouselButtonPrev {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 300px;
	width: 60px;
	z-index: 1;
}

.carouselBlackButtonPrev {
	position: absolute;
	top: 250px;
	left: 0px;
	height: 50px;
	width: 110px;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
	background-color: #000;
	z-index: 2;
}

.carouselYellowButton {
	position: absolute;
	top: 170px;
	left: 560px;
	height: 50px;
	width: 220px;
	line-height: 50px;
	color: #000;
	text-align: center;
	font-size: 30px;
	z-index: 1;
}

.carouselBlackButtonNext {
	position: absolute;
	top: 250px;
	left: 826px;
	height: 50px;
	width: 110px;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
	background-color: #000;
	z-index: 2;
}

.carouselButtonNext {
	position: absolute;
	top: 0px;
	left: 876px;
	height: 300px;
	width: 60px;
	z-index: 1;
}

/*END MAIN BANNER & CAROUSEL*******************************/

.subCarouselContainer {
	height: 160px;
	width: 960px;
	margin: auto;
	position: relative;
}

.subCarouselCategoryContainer {
	position: absolute;
	left: 40px;
	top: 0px;
	z-index: 1;
	margin-top: 12px;
}

.subCarouselButton {
	position: absolute;
	height: 160px;
	width: 40px;
	z-index: 2;
}

#subButtonPrev {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

#subButtonNext {
	position: absolute;
	top: 0px;
	left: 920px;
	z-index: 2;
}

.subCarouselCatagories {
	position: relative;
	height: 108px;
	width: 270px;
	margin: 0px;
	float: left;
	z-index: 1;
	background-image: url(images/SubCatBkgrnd.jpg);
}

.subMoreDetailsButton {
	height: 26px;
	width: 96px;
	background-color: #006099;
	text-align: center;
	line-height: 26px;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	border-left: 2px solid #000;
	float: right;	
	margin-top: 80px;
	z-index: 3;
}	

.catName {
	position: absolute;
	top: 10px;
	left: 70px;
	z-index: 3;
	color: #ffcc00;
}






/*BOTTOM HOME PAGE**********************************/

.miscInfoContainer {
	height: 660px;
	width: 940px;
	margin: auto;
}

.miscLeft {
	height: 640px;
	width: 450px;
	margin-top: 20px;
	float: left;
}

.miscLeft H2 {
	color: #000;
	font-size: 32px;
	margin-bottom: 8px;
}

.miscLeft p {
	font-size: 15px;
}
     	
.miscRight {
	height: 310px;
	width: 464px;
	margin-top: 20px;
	float: right;
}

.miscRight H2 {
	color: #000;
	font-size: 32px;
	margin-bottom: 8px;
	text-align: center;
}

.miscTopSelling {
	height: 260px;
	width: 460px;
	background-image:url(images/MiscTopSellingBkgrnd.jpg);
}


.miscList {
	list-style: none;
	height: 250px;
	width: 190px;
	font-size: 18px;
	color: #fff;
	float: left;
	margin: 0px;
}

.miscListRight {
	height: 180px;
}

.miscList li {
	margin: 15px 0px 15px 0px;
}

.miscListButton {
	height: 50px;
	width: 200px;
	line-height: 50px;
	color: #000;
	text-align: center;
	font-size: 30px;
	background-color: #FF0; 
	float: left;
}

.miscRight H3 {
	margin-top: 20px;
	color: #000;
	font-size: 32px;
}

.miscCustReviews {
	position: relative;
	height: 248px;
	width: 464px;
	background-image:url(images/MiscCustReviewBkgrnd.png);
}

.miscCustReviewText{
	font-style: italic;
	font-size: 12px;
	margin: 0px 13px 0px 13px;
}

/*************************************************************************************

PRODUCT STYLES / CAROUSELS

*************************************************************************************/


.templateCarouselContainer {
	width: 956px;
	margin: auto;
	position: relative;
	z-index: 0;
}

.homePageTempCarousel1 { 
	position: absolute;
	top: 0px;
	left: 0px;
	position: relative;
	z-index: 0;
}

.homePageTempCarousel12 { 
	position: absolute;
	top: 0px;
	left: 0px;
	position: relative;
	z-index: 0;
}

.homePageTempCarousel13 { 
	position: absolute;
	top: 0px;
	left: 0px;
	position: relative;
	z-index: 0;
}

.templateHeadContainer {
	height: 28px;
	width: 960px;
	margin: auto;
}

.templateHeadDesc {
	height: 26px;
	width: 226px;
	line-height: 27px;
	background-color: #000;
	float: left;
	text-align: center;
}

.templateMiddleContainer {
	height: 26px;
	width: 220px;
	margin: 4px 140px 0px 140px;
	float: left;
}

.prodListCarouselButtonContainer {
	height: 26px;
	width: 150px;
	float: left;
}

.prodListCarouselButtonContainer a {
	background: url(images/TemplateSelector.png);
	width: 10px;
	height: 10px;
	margin: 0 5.7px 1px 5.7px;
	display: inline-block;
}

.prodListCarouselButtonContainer a span {
	display: none;
}

.prodListButtons {
	height: 20px;
	width: 35px;
	float: left;
}

.templateHeadAllProds {
	height: 26px;
	width: 226px;
	line-height: 27px;
	background-color: #BE0000;
	float: right;
	text-align: center;
}

.seperator {
	height: 25px;
	width: 100%
}

/*PRODUCT LIST FORMATING*/
.productList li { 
	float: left;
	height: 275px;
	width: 206px;
	margin: 15px;
}

.productBubble {
	position: absolute;
	top: 0px;
	left: 127px;
	height: 47px;
	width: 90px;
	color: #fff;
	text-align: center;
	font-size: 19px;
	line-height: 36px;
	background-image: url(images/BubbleRed.png);
	z-index: 2;
}

.productList h5 {
	font-size: 12px;
}

.productList h6 {
	font-size: 24px;
}

.prodThumbContainer {
	height: 120px;
	width: 190px;
	margin-left: auto;	
	margin-right: auto;
}

.prodThumbContainer img {
	margin-top: 10px;	
}

.productDesc {
	text-align: center;
	font-size: 10px;
	color: #006099;
}

.productPrice {
	position: absolute;
	top: 189px;
	left: 20px;
	margin-top: 10px;
	text-align: center;
	font-size: 32px;
	color: #000;
}

.productSizeContainer {
	position: absolute;
	top: 225px;
	left: -2px;
	height: 70px;
	width: 211px;
}

.productSize {
	height: 28px;
	width: 28px;
	margin: 16px 5px 16px 5px;
	font-size: 18px; 
	text-align: center;
	color: #000;
	line-height: 28px;
	background-color: #666;
	float: left;
}


/**********************************************

END PRODUCT STYLES

***********************************************/


/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

END HOME PAGE

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/



/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&

CATAGORY PAGE

&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/

.catPageContainer {
	height: 784px;
	width: 940px;
	margin: auto;
	background-color: #fff;
}

.filterSearchContainerPlaceholder {
	height: 780px;
	width: 218px;
	background-color: #fff;
	float: left;
	line-height: 30px;
}

.filterSearchContainerPlaceholder h2 {
	height: 30px;
	width: 100%;
	color: #fff;
	text-indent: 7px;
	background-color: #000;
}

.filterSearchContainerPlaceholder h3 {
	height: 20px;
	width: 100%;
	color: #fff;
	background-color: #000;
}

.filterSearchContainerPlaceholder ul {
	list-style: none;
	margin: 15px 0px 15px -21px;
}

.filterSearchContainerPlaceholder input {
	width: 21px;
    height: 21px;
	border: solid #000 2px;
    padding: 0;
    margin: 0px 10px 0px 0px;
	top: -5px;
    vertical-align: bottom;
    position: relative;
    *overflow: hidden;
}

.filterSearchContainer {
	width: 220px;
	background-color: #fff;
	float: left;
}

.allFilterSearchBoxes {
	width: 218px;
	background-color: #eeeeee;
}

.sortPrice {
	height: 100px;
}

.sortTheme {
	height: 270px;
}

.sortSize {
	height: 210px;
}

.sortType {
	height: 199px;
}

.catContentContainer {
	width: 718px;
	float: right;
}

.catContentContainer h1 {
	margin-left: 14px;
	margin-bottom: 11px;
	color: #000;
	font-size: 30px;	
}

.catContentContainer p {
	margin-left: 8px;
	line-height: 27px;
}

.catContentContainer pl_149bef625c51_container {
	height: 180px;
	width: 
}

.categoriesContainer {
	position: relative;
	height: auto;
	width: 718px;
	vertical-align: bottom;
}

.categoryList li {
	height: 110px;
	width: 220px;
	margin: 0px 0px 14px 15px;
}

.categoryCatagories {
	width: 216px;
}

.categoryTemplate {
	height: auto;
	width: 940px;
	margin: auto;
}


/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&

END CATAGORY PAGE

&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/


/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&

PRODUCT DETAIL PAGE

&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/


.prodViewerContainer {
	width: 940px;
	margin: auto;
}

.imageContainer {
	width: 300px;
	background-color: #CF6;	
}

.additionalImageContainer {
	height: 75px;
	width: 300px;
	background-color: #000;
}

.prodSummaryContainer {
 	width: 420px; 
	background-color: #C90;
}

.prodSummaryContainer h1 {
	font-size: 18px;
	margin: 5px 0px 13px 0px;
}

.stid {
	font-size: 12px;
}

.prodDetailsDesc {
	line-height: 18px;
}

.prodSelectionContainer {
	height: 618px;
	width: 218px;
	background-color: #C9F;
}

.productShips {
	height: 30px;
	width: 218px;
	color: #fff;
	font-size: 12px;
	text-align: center;
	line-height: 28px;
	background-color: #000;
}

.prodPriceSelection {
	height: 64px;
	width: 100%;
	background-color: #eeeeee;
}

.prodSizeSelection {
	height: 180px;
	width: 100%;
	background-color: #cccccc;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
}

.prodCartSelection {
	height: 310px;
	width: 100%;
	background-color: #eeeeee;
}

.prodSelectionQty {
	font-size: 10px;
	text-align: center;
	margin: 20px;
}

.prodSelectItemField {
	height: 36px;
	width: 36px;
	margin: auto;
}

.zform_number {
	height: 36px;
	width: 36px;
	text-align: center;
	margin: auto;
	border: 2px solid #000;
}

.prodSelectAddCartButton {
	height: 50px;
	width: 180px;
	font-size: 30px;
	margin: 16px 18px 10px 18px;
}

.productSmallButtonContainer {
	width: 180px;
	margin: auto;
}
.prodSelectSmallButtons {
	height: 33px;
	font-size: 15px;
	margin-bottom: 10px;
}

.prodSelectShareButton {
	width: 59px;
}

.prodSelectWishlistButton {
	width: 108px;
	margin-left: 6px;
}

.prodSelectSeeWriteReviewButton {
	width: 180px;
}









/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&

ABOUT PAGE

&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/


.aboutLeft {
	height: 1118px;
	width: 480px;
	background-color: #666;
	margin: 20px 0px 20px 40px;
	float: left;
}

.aboutMiddle {
	height: 1118px;
	width: 240px;
	background-color: #00F;
	margin: 20px 0px 20px 0px;
	float: left;
}

.sideline {
	height: 1118px;
	width: 220px;
	background-color:#339F;
	margin: 20px 40px 20px 0px;
	float: right;
}



