@charset "utf-8";
/* CSS Document */

html {
	height: 100%;
}

body {
	background: #00b7f5; /* Old browsers */
	background: -moz-linear-gradient(top, #00b7f5 0%, #00093d 100%) fixed; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7f5), color-stop(100%,#00093d)) fixed; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #00b7f5 0%,#00093d 100%) fixed; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #00b7f5 0%,#00093d 100%) fixed; /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #00b7f5 0%,#00093d 100%) fixed; /* IE10+ */
	background: linear-gradient(to bottom, #00b7f5 0%,#00093d 100%) fixed; /* W3C */
	
	background-repeat: no-repeat;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7f5', endColorstr='#00093d',GradientType=0 ) fixed; /* IE6-9 */;	
}

#appPreView {
	height: 320px;
	width: 320px;
	margin: 210px auto 0 auto;
}

.appPreviewImage {
	border: 3px solid #000;
	border-radius: 120px;
	box-shadow: 0px 0px 15px #fff;
	margin: 30px;
}

#appView {
	background: white;
	margin: 0px auto;
	width: 1020px;	
}

.loadBar {
	margin-top: 100px;
}

a {
	color: #ffffff;
	text-decoration: none;
}

.border {
	border: 2px solid #000;	
}

.borderRound {
	border-radius: 5px;
	border: 2px solid #000;	
}

.borderRoundThin {
	border-radius: 5px;
	border: 1px solid #000;	
}

.borderRight {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 2px solid #000;
}

.borderLeft {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border: 2px solid #000;
}

.bangersFont {
	color: #ffffff;
	font-family: Bangers;
	font-size: 15px;
	font-weight: normal; 
}

.bangersMedFont {
	color: #ffffff;
	font-family: Bangers;
	font-size: 22px;
	text-shadow: 
		-1px -1px 0 #000,
    	1px -1px 0 #000,
   		-1px 3px 0 #000,
    	1px 1px 0 #000;  
	text-align: left;
	font-weight:normal;
}

.bangersBigFont {
	color: #ffffff;
	font-family: Bangers;
	font-size: 36px;
	text-shadow: 
		-1px -1px 0 #000,
    	1px -1px 0 #000,
   		-1px 4px 0 #000,
    	1px 1px 0 #000;  
	text-align: center;
	font-weight:normal;
}

.openSansFont {
	color: #000;
	font-family: "Open Sans";	
	font-size: 15px;
	font-weight:normal;
}

.openSansBoldFont {
	color: #000;
	font-family: "Open Sans";	
	font-size: 15px;
	font-weight: bold;
}

.openSansXBoldFont {
	color: #000;
	font-family: "Open Sans";	
	font-size: 15px;
	font-weight: 900;
}

.textShadow {
	text-shadow: 
		-1px -1px 0 #000,
    	1px -1px 0 #000,
   		-1px 3px 0 #000,
    	1px 1px 0 #000;  	
}

.indentText {
	text-indent: 35px;
}

.centerText {
		text-align: center;
}

.cents {
	font-size: 50%;
	vertical-align: super;
}

.form {
	height: 29px;
	width: 196px;
	font-family: "Open Sans";
	font-weight: bold;
	font-size: 15px;
	color: #000;
}

.button {
	height: 35px;
	width: 50px;
	text-align: center;
	background: #00b7f5; /* Old browsers */
		background: -moz-linear-gradient(top, #00b7f5 0%, #00093d 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7f5), color-stop(100%,#00093d)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #00b7f5 0%,#00093d 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #00b7f5 0%,#00093d 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #00b7f5 0%,#00093d 100%); /* IE10+ */
		background: linear-gradient(to bottom, #00b7f5 0%,#00093d 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7f5', endColorstr='#00093d',GradientType=0 ); /* IE6-9 */
	color: white;
}

.blueGradient {
	background: #00b7f5; /* Old browsers */
	background: -moz-linear-gradient(top, #00b7f5 0%, #00093d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7f5), color-stop(100%,#00093d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #00b7f5 0%,#00093d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #00b7f5 0%,#00093d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #00b7f5 0%,#00093d 100%); /* IE10+ */
	background: linear-gradient(to bottom, #00b7f5 0%,#00093d 100%); /* W3C */
	
	background-repeat: no-repeat;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7f5', endColorstr='#00093d',GradientType=0 ); /* IE6-9 */;
}

.reverseBlueGradient {
	background: #00b7f5; /* Old browsers */
	background: -moz-linear-gradient(top, #00093d 0%, #00b7f5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00093d), color-stop(100%,#00b7f5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #00093d 0%,#00b7f5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #00093d 0%,#00b7f5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #00093d 0%,#00b7f5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #00093d 0%,#00b7f5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00093d', endColorstr='#00b7f5',GradientType=0 ); /* IE6-9 */;
}

.yellowGradient {
	background: #ffff00; /* Old browsers */
	background: -moz-linear-gradient(top, #ffff00 0%, #ff9a00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffff00), color-stop(100%,#ff9a00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffff00 0%,#ff9a00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffff00 0%,#ff9a00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffff00 0%,#ff9a00 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffff00 0%,#ff9a00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff00', endColorstr='#ff9a00',GradientType=0 ); /* IE6-9 */
}

.greyGradient {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #9b9b9b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#9b9b9b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#9b9b9b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#9b9b9b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#9b9b9b 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#9b9b9b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#9b9b9b',GradientType=0 ); /* IE6-9 */
}

.greyGradientDark {
	background: #666666; /* Old browsers */
	background: -moz-linear-gradient(top, #666666 0%, #020202 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666666), color-stop(100%,#020202)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #666666 0%,#020202 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #666666 0%,#020202 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #666666 0%,#020202 100%); /* IE10+ */
	background: linear-gradient(to bottom, #666666 0%,#020202 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#020202',GradientType=0 ); /* IE6-9 */
}


/****************************************
PERSISTENT CONTENT
****************************************/

/*************************************************************************************
HEADER
*************************************************************************************/


.topNavContainer {
	height: 30px;
	width: 1020px;
	background-color: #000000;
	float: left;
}

.topNavLeft {
	height: 20;
	width: 40%;
	padding-left: 40px;
	margin-top: 7px;
	text-align: left;
	float: left;	
}

.topNavRight {
	height: 20;
	padding-right: 40px;
	margin-top: 8px;
	text-align: right;
	float: right;
}

.topNavLink {
	width: 110px;
	float: left;
}

#yellowShopping {
	color: #ffcc00;	
}

.headerBrandingContainer {
	height: 152px;
	width: 940px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

.headerBranding {
	float: left;
	width: 283px;
	margin-left: 25px;
	margin-top: 10px;
}

.headerBranding.search {
	position: relative;
	margin-top: 45px;
}

.headerBranding 2bhipLogo {
	margin-top: 10px;
	margin-left: 25px;	
}

.headerSearchBar {height: 29px; width:200px;}

.headerSearchButton {border-left:0;}

#headerPhone {
	height:auto;
	width:210px;
	margin: 0 0 10px 52px;
}

.socialIconContainer {
	height: 50px;
	width: 263px;
	margin-left: 25px;	
}

.socialIcons {
	height: 40px;
	width: 20%;
	margin-top: 4px;
	margin-left: 10px;
	float: left;	
}

.socialIcons img {
	margin-left: 9px;
}

.mainNavBarContainer {
	position: relative;
	height: 100px;
	width: 940px;	
	background-color: #ffcc00;
	margin: auto;
	z-index: 1;
}

.mainNavBarContainer img {
	position: absolute;
	top: 0px;
	z-index: 0;	
}

.mainNavBarLinksContainer {
	position: absolute;
	height: 100px;
	width: 940px;	
}

.mainNavBarLinks {
	z-index: 3;
	height: 40px;
	width: 155px;
	margin-top: 20px;
	margin-left: 15px;
	font-size: 31px;
	float: left;	
}

.mainNavBarLinks:hover {
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 4px 0 #fff, 1px 1px 0 #fff;
	color: #006099;
}

.mainNavBarLinks a:hover {color: #006099;}

#characters {
	width: 230px;	
}

.navBarContainer {
	position: absolute;
	top: 235px;
	left: 50%;
	height: 50px;
	width: 960px;
	margin-left: -483px;
	z-index: 4;
}


/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
END HEADER
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%/*


/*NAV BAR DROP DOWN**************************************************************/

.nav {
	width: 85px;
	color: #fff;
	float: left;
	position:relative;
	height: 48px;
	overflow: show;
	font-size: 13px;
	text-align: center;
}

.nav:hover {
	border: 2px solid #000;	
	background-color: background: #00b7f5; /* Old browsers */
	background: -moz-linear-gradient(top, #00093d 0%, #00b7f5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00093d), color-stop(100%,#00b7f5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #00093d 0%,#00b7f5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #00093d 0%,#00b7f5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #00093d 0%,#00b7f5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #00093d 0%,#00b7f5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00093d', endColorstr='#00b7f5',GradientType=0 ); /* IE6-9 */;
}

.tooNarrow {
	width: 40px;
}

.tooWide {
	width: 135px;
}
	
.dropdown {
	height: 0px;
	width: 930px;
	position:absolute;
	background-image: url(images/DropdownImageLarge.png);
	top: 20px;
	margin-top: 31px;
	overflow: hidden;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: bold;
	text-align: left;
}

.dropdown.comicsAlign {left: 11px;}
.dropdown.cartoonsAlign {left: -73px;}
.dropdown.moviesAlign {left: -158px;}
.dropdown.tvAlign {left: -243px;}
.dropdown.videoGamesAlign {left: -328px;}
.dropdown.musicAlign {left: -436px;}
.dropdown.beerAlcoholAlign {right: -247px;}
.dropdown.iconsAlign {right: -162px;}
.dropdown.funnyAlign {right: -76px;}
.dropdown.brandsAlign {right: -8px;}

.dropdownBestSellers {
	position: absolute;
	top: 10px;
	left: 10px;
	height: 358px;
	width: 345px;
	background-color: #FCE99B;
}

.giantPipeBS2 {
	position: absolute;
	top: 47px;
	left: 311px;
	height: 287px;
	width: 4px;
	background-color: #000;
}

.giantPipeBS3 {
	position: absolute;
	top: 47px;
	left: 261px;
	height: 287px;
	width: 4px;
	background-color: #000;
}

.dropdownPopular2 {
	position: absolute;
	top: 10px;
	left: 335px;
	height: 358px;
	width: 345px;
}

.dropdownPopularSecond2 {
	position: absolute;
	top: 50px;
	left: 619px;
	height: 358px;
	width: 345px;
}

.dropdownPopularSecond2.funny2 {top: 10px;}
.giantPipeBS3.funnyPipe {left:571px;}

.dropdownPopular3 {
	position: absolute;
	top: 10px;
	left: 275px;
	height: 358px;
	width: 345px;
}

.dropdownPopularSecond3 {
	position: absolute;
	top: 50px;
	left: 489px;
	height: 358px;
	width: 345px;
}

.dropdownPopularThird3 {
	position: absolute;
	top: 50px;
	left: 670px;
	height: 358px;
	width: 345px;
}

.dropdownViewAllButton {
	position: absolute;
	bottom: 25px;
	right: 110px;
	height: 58px;
	width: 149px;
	text-align: center;
	font-size: 37px;
	background-color: #F9F;
}

.dropdownViewAllButton.dropdownViewAllButton3 {right: 61px;}

.ddListHead.dd {
	color: #000;
	font-size: 18px;
	line-height: 30px;
	margin: 0px 10px 10px 0px;
}

.dropdown ul {
	color: #006099;
	font-family: "Open Sans";
	list-style: none;
	line-height: 20px;
	padding-left: 23px;
}

.dropdown li {
	margin: 6px 0px 0px 38px;
	padding-left: 6px;
	text-indent: -15px;
}

.dropdown a {color: #006099;}
.dropdown a:hover {color: #fff; text-shadow: -1px -1px 0 #006099, 1px -1px 0 #006099, -1px 2px 1px #006099, 1px 1px 0 #006099;}
.dropdown div:first-of-type {margin-top: 0px;}
.dropdown div {margin-bottom: 10px;}

#navBar {width: 100%;}

.clear {clear: both;}

#main {
	height: 40px;
	width: 960px;
	line-height: 48px;
	margin-left: 3px;
}

/*END NAV BAR DROP DOWN %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

.freeShippingBarContainer {
	height: 50px;
	width: 940px;	
	background-color: #000000;
	margin-top: 24px;
	margin-left: auto;
	margin-right: auto;
}

.freeShipping {
	width: 740px;
	margin-top: 9px;
	padding-left: 110px;
	float: left;	
}

.learnMore {
	height: 30px;
	width: 80px;
	margin-top: 14px;
	float: right;
}


/*************************************************************************************
FOOTER
*************************************************************************************/



/*FOOTER INTERACTION*********************************************/

.footerInteractionContainer {
	position: relative;
	height: 70px;
	width: 1020px;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	clear: both;
}

.footerGradient {
	background: #575757; /* Old browsers */
	background: -moz-linear-gradient(top, #575757 0%, #1c1c1c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#575757), color-stop(100%,#1c1c1c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #575757 0%,#1c1c1c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #575757 0%,#1c1c1c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #575757 0%,#1c1c1c 100%); /* IE10+ */
	background: linear-gradient(to bottom, #575757 0%,#1c1c1c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#575757', endColorstr='#1c1c1c',GradientType=0 ); /* IE6-9 */
}

.stayUpdatedContainer {
	position: absolute;
	top: 18px;
	left: 37px;
	height: 40px;
	width: 568px;	
}

.stayUpdated {
	position: absolute;
	top: 6px;
	left: 0px;
	width: 115px;	
}

.footerNameBar{
	position: absolute;
	left: 115px;
}

.footerEmailBar{
	position: absolute;
	top: 0px;
	left: 204px;	
}

.footerButtonContainer {
	position: absolute;
	left: 402px;
	top: 0px;
	height: 35px;
	width: 50px;	
}

.footerSignUpButton {	
	height: 35px;
	width: 50px;
	text-align: center;
	background: #009;
	color: white;
}

.getSocial {
	position: absolute;
	left: 630px;
	top: 27px;
	height: 50px;
	width: 122px;	
}

.footerSocialIconContainer {
	position: absolute;
	left: 733px;
	top: 11px;
	width: 263px;	
}

/*END FOOTER INTERACTION %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%


/*FOOTER LINKS*********************************************/

.footerLinksContainer {
	height: 350px;
	width: 1020px;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	background-color: #006099;	
}

.footerLinks {
	height: 325px;
	width: 237px;
	margin-left: 18px;
	float: left;	
}

.catagories {
	margin-left: 25px;	
}

.footerLinks ul {
	list-style: none;
}

.footerLinkHead {
	margin-top: 20px;	
	margin-bottom: 10px;	
	font-size: 22px;
	text-align: left;
}

.footerLinkListItem {
	margin-bottom: 5px;	
	color: #ffffff;
	font-size: 14px;
	
}

/*END FOOTER LINKS %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%


/*FOOTER INFO BAR*********************************************/
.footerInfoContainer {
	position: relative;
	height: 60px;
	width: 1020px;
	background-color: #000;
}

.creditContainer {
	position: absolute;
	top: 1px;
	left: 50%;
	height: 50px;
	width: 196px;
	margin-left: -98px;	
}

.creditCards {
	height: 29px;
	width: 55px;
	margin-top: 14px;
	float: left;
}

.amex {
	width: 30px;
}

.mcaffeContainer {
	height: 23px;
	width: 96px;
	margin-top: 2px;
	margin-right: 40px;
	/*background-image: url(images/McAfeeLogo.png);*/
	float: right;	
}


.copyright {
	height: 62px;
	width: 1020px;
	padding-top: 25px;
	text-align: center;	
}

/*END FOOTER INFO BAR %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%


/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
END FOOTER
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/



/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
NON-PERSISTENT CONTENT
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

/* APP NAV */
#appNav .prodDetailPrevItemButton {
	top: 2px;
	left: 757px;
}

#appNav .prodDetailNextItemButton {
	top: 2px;
	right: 39px;
}


/*BREAD CRUMB*/

.newBreadcrumb {
	color: #006099;
	font-family: Bangers;
	cursor: pointer;
	font-size: 22px;
	text-shadow:
		-1px -1px 0 #000000, 
		1px -1px 0 #000000, 
		-1px 3px 0 #000000, 
		1px 1px 0 #000000
}

.breadcrumb li:after {
	color: #006099;
	font-family: Bangers;
	font-size: 22px;
	text-shadow: 0px 0px 0px;
}

.breadcrumb li:last-child a {
	color: #ffcc00;
	font-family: Bangers;
	cursor: pointer;
	font-size: 22px;
	text-shadow:
		-1px -1px 0 #000000, 
		1px -1px 0 #000000, 
		-1px 3px 0 #000000, 
		1px 1px 0 #000000
}

.clearfix.noPadOrMargin.fluidList.breadcrumb {
	width: 940px;
	margin: 0px auto 12px auto;
}

/*************************************************************************************
HOME PAGE 
*************************************************************************************/


.mainBannerContainer {
	height: 300px;
	width: 936px;
	margin: -1px auto auto auto;
	background-color: #09F;
	overflow:hidden;
}

.relativeMainBannerContainer {
	position: relative;
	height: 300px;
	width: 936px;
	margin: auto;
	z-index: 0;
}

.mainBannerCarouselCatagories {
	float: left;
	width: 936;
	height: 300;
}

.carouselButtonPrev {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 300px;
	width: 60px;
	z-index: 1;
}

.carouselBlackButtonPrev {
	position: absolute;
	top: 250px;
	left: 0px;
	height: 50px;
	width: 110px;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
	background-color: #000;
	z-index: 2;
}

.carouselYellowButton {
	position: absolute;
	top: 170px;
	left: 560px;
	height: 50px;
	width: 220px;
	line-height: 50px;
	color: #000;
	text-align: center;
	font-size: 30px;
	z-index: 1;
}

.carouselBlackButtonNext {
	position: absolute;
	top: 250px;
	left: 826px;
	height: 50px;
	width: 110px;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
	background-color: #000;
	z-index: 2;
}

.carouselButtonNext {
	position: absolute;
	top: 0px;
	left: 876px;
	height: 300px;
	width: 60px;
	z-index: 1;
}


/*END MAIN BANNER & CAROUSEL*******************************/

.subCarouselContainer {
	height: 160px;
	width: 960px;
	margin: auto;
	position: relative;
	overflow: hidden;
}

.subCarouselCategoryContainer {
	position: absolute;
	left: 40px;
	top: 0px;
	z-index: 1;
	margin-top: 12px;
}

.subCarouselButton {
	position: absolute;
	height: 160px;
	width: 40px;
	z-index: 2;
}

#subButtonPrev {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

#subButtonNext {
	position: absolute;
	top: 0px;
	left: 920px;
	z-index: 2;
}

.subCarouselCatagories {
	position: relative;
	height: 108px;
	width: 270px;
	margin: 0px;
	float: left;
	z-index: 1;
	background-image: url(images/SubCatBkgrnd.jpg);
}

.subMoreDetailsButton {
	height: 26px;
	width: 96px;
	background-color: #006099;
	text-align: center;
	line-height: 26px;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	border-left: 2px solid #000;
	float: right;	
	margin-top: 80px;
	z-index: 3;
}	

.catName {
	position: absolute;
	top: 10px;
	left: 70px;
	z-index: 3;
	color: #ffcc00;
}






/*BOTTOM HOME PAGE**********************************/

.miscInfoContainer {
	height: 660px;
	width: 940px;
	margin: auto;
}

.miscLeft {
	height: 640px;
	width: 450px;
	margin-top: 20px;
	float: left;
}

.miscLeft H2 {
	color: #000;
	font-size: 32px;
	margin-bottom: 8px;
}

.miscLeft H2:hover {
	color: #fff;
	text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 4px 0 #000000, 1px 1px 0 #000000;
}

.miscLeft p {
	font-size: 14px;
}

.miscLeft a {
	color: #000;
	text-decoration: underline;
}
     	
.miscRight {
	height: 310px;
	width: 464px;
	margin-top: 20px;
	float: right;
}

.miscRight H2 {
	color: #000;
	font-size: 32px;
	margin-bottom: 8px;
	text-align: center;
}

.miscRight H2:hover {
	color: #fff;
	text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 4px 0 #000000, 1px 1px 0 #000000;
}

.miscTopSelling {
	height: 260px;
	width: 460px;
	background-image:url(images/MiscTopSellingBkgrnd.jpg);
}

.miscTopSelling span {
	color: #00B7F5;
}

.miscList {
	list-style: none;
	height: 250px;
	width: 190px;
	font-size: 18px;
	color: #fff;
	float: left;
	margin: 0px;
	padding-left: 36px;
}

.miscList a:hover {
	color:#000;
	text-shadow: -1px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, -1px 2px 1px #FFFFFF, 1px 1px 0 #FFFFFF;
}

.miscListRight {
	height: 180px;
}

.miscList li {
	margin: 11px 0px 11px 0px;
	padding-left: 6px;
	text-indent: -15px;
}

.miscListButton {
	height: 50px;
	width: 200px;
	line-height: 50px;
	color: #000;
	text-align: center;
	font-size: 30px;
	background-color: #FF0; 
	float: left;
}

.miscRight H3 {
	color: #000;
	font-size: 32px;
}

.miscRight H3:hover {
	color: #fff;
	text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 4px 0 #000000, 1px 1px 0 #000000;
}

.miscCustReviews {
	position: relative;
	height: 248px;
	width: 464px;
	background-image:url(images/MiscCustReviewBkgrnd.png);
	list-style: none;
	padding-left: 0px;
	overflow:hidden;
}

.miscCustReviewText{
	height: 240px;
	width: 395px;
	font-style: italic;
	font-size: 12px;
	margin: 0px 37px 0px 29px;
}

/*************************************************************************************
PRODUCT STYLES / CAROUSELS
*************************************************************************************/


.templateCarouselContainer {
	width: 956px;
	margin: auto;
	position: relative;
	z-index: 0;
	overflow: hidden;
}

.homePageTempCarousel1 { 
	position: absolute;
	top: 0px;
	left: 0px;
	position: relative;
	z-index: 0;
}

.homePageTempCarousel12 { 
	position: absolute;
	top: 0px;
	left: 0px;
	position: relative;
	z-index: 0;
}

.homePageTempCarousel13 { 
	position: absolute;
	top: 0px;
	left: 0px;
	position: relative;
	z-index: 0;
}

.templateHeadContainer {
	height: 28px;
	width: 960px;
	margin: auto;
}

.templateHeadDesc {
	height: 26px;
	width: 226px;
	line-height: 27px;
	background-color: #000;
	float: left;
	text-align: center;
}

.templateMiddleContainer {
	height: 26px;
	width: 178px;
	margin: 4px 161px 0px 161px;
	float: left;
}

.prodListCarouselButtonContainer {
	height: 26px;
	width: 107px;
	float: left;
}

.prodListCarouselButtonContainer a {
	background: url(images/TemplateSelector.png);
	width: 10px;
	height: 10px;
	margin: 0 5.7px 1px 5.7px;
	display: inline-block;
}

.prodListCarouselButtonContainer a.selected {background: url(images/TemplateSelected.png);}

.prodListCarouselButtonContainer a span {
	display: none;
}

.prodListButtons {
	height: 20px;
	width: 35px;
	float: left;
}

.templateHeadAllProds {
	height: 26px;
	width: 226px;
	line-height: 27px;
	background-color: #BE0000;
	float: right;
	text-align: center;
}

.seperator {
	height: 25px;
	width: 100%
}

/*PRODUCT LIST FORMATING*/

.productQuickviewButton {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 36px;
	width: 90px;
	padding-bottom: 2px;
	color: #fff;
	background-color: #006099;
	text-align: center;
	font-size: 19px;
	line-height: 30px;
	z-index: 3;
}

.productList > li { 
	float: left;
	height: 275px;
	width: 203px;
	margin: 15px;
}

ul.sizeVariations {padding:0; margin:0;}
ul.sizeVariations li {margin:2px; padding:6px; background:#666; color:#000; font-size:16px; font-weight:normal; cursor:pointer; border:2px solid #000000; border-radius:5px;}
ul.sizeVariations li.soldout {
	cursor:crosshair;
	-moz-opacity: 0.45;
	opacity: 0.45;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=45);
	}


.slideMe li {
	margin: 0 2px 0 0;
}

.staticProductBubble {
	position: absolute;
	top: 0px;
	left: 127px;
	height: 47px;
	width: 90px;
	color: #fff;
	text-align: center;
	font-size: 19px;
	line-height: 36px;
	z-index: 2;
	text-align: center;
	font-size: 18px;
	line-height: 36px;
	background-image: url(images/BubbleRed.png);
}

.productBubble {
	position: absolute;
	top: 0px;
	left: 127px;
	height: 47px;
	width: 90px;
	color: #fff;
	text-align: center;
	font-size: 19px;
	line-height: 36px;
	z-index: 2;
}

.productBubble span.is_bestseller {
	background-image: url(images/TagBestSeller.png);
	position: absolute;
	top: 0px;
	left: 0px;
	height: 47px;
	width: 90px;
}

.productBubble span.is_sale {
	background-image: url(images/TagClearance.png);
	position: absolute;
	top: 0px;
	left: 0px;
	height: 47px;
	width: 90px;
}

.productBubble span.is_newarrival {
	background-image: url(images/TagNew.png);
	position: absolute;
	top: 0px;
	left: 0px;
	height: 47px;
	width: 90px;
}

.productList h5 {
	font-size: 12px;
}

.productList h6 {
	font-size: 24px;
}

.prodThumbContainer {
	height: 120px;
	width: 190px;
	margin-left: auto;	
	margin-right: auto;
}

.prodThumbContainer img {
	margin-top: 0px;	
}

.productDesc {
	text-align: center;
	font-size: 10px;
	color: #006099;
}

.productPrice {
	position: absolute;
	top: 160px;
	left: 0px;
	width: 100%;
	margin-top: 10px;
	text-align: center;
	font-size: 32px;
	color: #000;
}

.productPrice h4 {
	height: 40px;
	width: 101px;
	margin:auto;
	color: #000;
	font-size: 30px;
	line-height: 21px;
	text-align: center;
	float: left;
}

.productPrice .percentBasePrice.basePrice.bangersFont  {width: 100%;}

.productPrice h5 {
	height: 40px;
	width: 101px;
	color: #666666;
	font-size: 24px;
	line-height: 21px;
	text-align: center;
	background-image: url("images/StrikeThrough.png");
	float: left;
}

.productSizeContainer {
	position: absolute;
	top: 225px;
	left: -2px;
	height: 70px;
	width: 204px;
}

.productSize {
	height: 28px;
	width: 28px;
	margin: 16px 5px 16px 5px;
	font-size: 18px; 
	text-align: center;
	color: #000;
	line-height: 28px;
	background-color: #666;
	float: left;
}


/**********************************************
END PRODUCT STYLES
***********************************************/


/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
END HOME PAGE
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/



/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
CATAGORY PAGE
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/

.catPageContainer {
	height: 784px;
	width: 940px;
	margin: auto;
	background-color: #fff;
}

.filterSearchContainerPlaceholder {
	height: auto;
	width: auto;
	background-color: #fff;
	line-height: 30px;
}

.productColumn {width: auto;}

.filterResetContainer {
	height: 30px;
	width: 211px;
	background:#ccc;
	margin: 5px 0 20px;
}

.layeredSearch .resetButton {
	height: 30px; 
	width: 141px; 
	background-color: #f8c301; 
	border: none; 
	corners: none; 
	font-family: Bangers;  
	font-weight: normal; 
	font-size: 20px;
	margin: 0 35px;
	border: 2px solid #000;
}

.layeredSearch {
	height: auto; 
	width: 211px; 
	color: #000; 
	background-color: #ccc;
	font-size: 14px;
}

.layeredLegend {
	height: 30px;
	width: 100%;
	color: #fff;
	text-indent: 7px;
	background-color: #000;
	margin-bottom: 10px;
	font-family: "Open Sans";
	font-weight: 900;
}

.filterStyle {border:none;}

.ranger {
	height: auto;
	width: 160px;
	margin-left: 13px;
}

.layeredSearch .slider-range
{
	height: 10px;
	width: 160px;
}

.sliderValue {
	width: 200px;
    height: 25px;
	border:none;
    padding: 0;
    margin: 0px 0px 0px 0px;
	text-align:center;
	background-color:#ccc;
}

label.break	{display:block; margin-bottom:2px;}

input[type='checkbox'] {display:none;}

input[type='checkbox'] + label span {
	display: inline-block;
	height: 19px;
	width: 19px; 
	margin: -1px 4px 0px 0px;
	vertical-align: middle;
	background-color: #fff;
	cursor: pointer;
	border: 2px solid #000;
}

input[type='checkbox']:checked + label span {background-color:#006099;}

.fliterCheckBox {
	border: none;
	background: #fff;
}

.catContentContainer {
	width: 718px;
	float: right;
}

.catContentContainer h1 {
	margin-left: 14px;
	margin-bottom: 11px;
	color: #000;
	font-size: 30px;	
}

.catContentContainer p {
	margin-left: 8px;
	line-height: 27px;
}

.catContentContainer pl_149bef625c51_container {
	height: 180px;
	width: 
}

.categoriesContainer {
	position: relative;
	height: auto;
	width: 718px;
	vertical-align: bottom;
}

.categoryList li {
	height: 110px;
	width: 220px;
	margin: 0px 0px 14px 15px;
}

.categoryCatagories {
	width: 216px;
}

.categoryTemplate {
	height: auto;
	width: 940px;
	margin: auto;
}


/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
END CATAGORY PAGE
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/


/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
PRODUCT DETAIL PAGE
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/


.prodViewerContainer {
	width: 940px;
	margin: 40px auto 0px auto;
}

.imageContainer {
	width: 296px;
}

.additionalImageContainer {
	height: 75px;
	width: 300px;
	background-color: #000;
}

.pointer.border.additionalImages {
	margin: 0px 2px 1px 2px;
}

.prodSummaryContainer {
	font-size: 14px;
 	width: 420px; 
	color: #000;
	padding-right: 22px;
}

.prodSummaryContainer h1 {
	font-size: 18px;
	margin: 5px 0px 13px 0px;
	color: #000;
}

.stid h3 {
	float: left;
	color: #000;
	line-height: 15px;
}

.stid h4 {
	float: left;
	color: #000;
	line-height: 15px;
}

.prodSummaryContainer h5 {
	font-size: 12px;
	color: #000;
}

.prodSummaryContainer h6 {
	font-size: 12px;
	color: #000;
}

.prodReviewContainer {
	width: 420px;
	padding-right: 22px;
}

.reviewStarContainer  {
	height: auto;
	width: 125px;
	margin: 10px auto 10px auto;
}

.prodDetailsDesc {
	line-height: 18px;
}

.prodReviewContainer h1 {
	font-size: 18px;
	margin: 5px 0px 13px 0px;
	color: #000;
	font-family: "Open Sans";
}

.prodReviewContainer h5 {
	font-size: 12px;
	color: #000;
}

.prodReviewContainer h6 {
	font-size: 12px;
	color: #000;
}

.prodSelectionContainer {
	height: auto; /*618px;*/
	width: 218px;
	background-color: #eee;
}

.productShips {
	height: 30px;
	width: 218px;
	color: #fff;
	font-size: 12px;
	text-align: center;
	line-height: 28px;
	background-color: #000;
}

.prodPriceSelection {
	height: 72px;
	width: 100%;
	background-color: #eeeeee;
}

.prodPriceSelection h5 {
	height: 72px;
	width: 100px;
	color: #666666;
	font-size: 24px;
	line-height: 72px;
	text-align: center;
	/*text-decoration: line-through;*/
	float: left;
	background-image: url(images/StrikeThrough.png);	
	background-position: 0 26px;
	background-repeat: no-repeat;
}

.prodPriceSelection h4 {
	height: 72px;
	/*width: 118px; 118px; TS593 BAG130*/
	margin:auto;
	color: #000;
	font-size: 30px;
	line-height: 70px;
	text-align: center;
	float: left;
}

.fixedBasePrice {width:118px;}

.percentBasePrice {width:100%;}

.prodSizeSelection {
	height: 180px;
	width: 100%;
	background-color: #cccccc;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
}

.sizeUL {
	padding-left: 25px;
	height: 147px;
	width: 193px;
	list-style: none;
}

.sizeUL li {
	height: 32px;
	width: 180px;
	line-height: 20px;
}

.sizeCheck {
	height: 16px;
	width: 16px;
	margin-right: 10px;
	background-color: #fff;
	float: left;
}

.sizeCheck:hover {
	background-color: #0099f4;
}

.sizeText {
	width: auto;
	height: auto;
	float: left;
}

.prodCartSelection {
	height: auto; /*486px;*/
	width: 100%;
	background-color: #eeeeee;
}

.prodCartMarginRemove.prodViewerAddToCartForm {
	margin-bottom: 0px;
}

.prodSelectionQty {
	font-size: 10px;
	text-align: center;
	margin: 0px;
	padding: 22px;
}

.sizeSelector {
	height: 59px;
	width: 100%;
	font-size: 18px;
	margin: 0px auto 0px auto;
	text-align: center;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	padding: 15px 0px 15px 0px;
	background-color: #CCC;
	font-family: "Open Sans";
	font-weight: bold;
}

.prodSelectItemField  input {
	height: 36px;
	width: 36px;
	margin: 0 0 0 40%;
}

.prodSelectItemField  input {
	height: 36px;
	width: 36px;
	text-align: center;
	border: 2px solid #000000;
}

.zform_number {
	height: 36px;
	width: 36px;
	text-align: center;
	margin: auto;
	border: 2px solid #000;
}

.prodSelectAddCartButton.ui-state-default {
	height: 50px;
	width: 180px;
	font-size: 30px;
	color: #000;
	line-height: 10px;
	margin: 16px 18px 10px 18px;
	padding: 0px;
}

.productSmallButtonContainer {
	width: 180px;
	margin: auto;
}


.prodSelectSmallButtons.ui-button {
	height: 33px;
	font-size: 15px;
	color: #fff;
	text-shadow: 
		-1px -1px 0 #000,
    	1px -1px 0 #000,
   		-1px 3px 0 #000,
    	1px 1px 0 #000;
	margin: 0 0 10px 0;
	background: #00b7f5; /* Old browsers */
	background: -moz-linear-gradient(top, #00b7f5 0%, #00093d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7f5), color-stop(100%,#00093d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #00b7f5 0%,#00093d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #00b7f5 0%,#00093d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #00b7f5 0%,#00093d 100%); /* IE10+ */
	background: linear-gradient(to bottom, #00b7f5 0%,#00093d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7f5', endColorstr='#00093d',GradientType=0 ); /* IE6-9 */;
}

.prodSelectShareButton {
	width: 59px;
}

.prodSelectWishlistButton {
	width: 108px;
	margin-left: 6px;
}

.prodSelectSeeDescriptionButton.prodSelectSmallButtons.bangersFont.ui-button-text.ui-button.ui-state-default.ui-corner-all.displayNone {
	width: 180px;
	display: none;
}

.prodSelectSeeReviewButton {
	width: 180px;
}

.prodSelectWriteReviewButton.ui-button {
	width: 180px;
	/*background: #666666; /* Old browsers */
	/*background: -moz-linear-gradient(top, #666666 0%, #020202 100%); /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666666), color-stop(100%,#020202)); /* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(top, #666666 0%,#020202 100%); /* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top, #666666 0%,#020202 100%); /* Opera 11.10+ */
	/*background: -ms-linear-gradient(top, #666666 0%,#020202 100%); /* IE10+ */
	/*background: linear-gradient(to bottom, #666666 0%,#020202 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#020202',GradientType=0 ); /* IE6-9 */
}

.prodCartSelection span {
	font-family: Bangers;
	text-align: center;
	margin-bottom: 10px;
	width: 100%;
	height: 100px;
}


/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
END PRODUCT DETAILS PAGE
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/

/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
QUICK VIEW MODAL
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/


/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
CART MODAL
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/


#modalCart.ui-dialog-content {
	background: #fff;
	padding: 0.5em 1em 0.5em 0; 
}

.cartStuffContainer {
	width: 80%;
	padding: 0;
}

.cartHeader {
	height: 90px; 
	width: 660px; 
	margin: 0 5px 0 0;
}

.checkoutSteps {
	height: 50px; 
	width: 639px;
	margin: 0 0 0 17px;
}

.cartHeaderLeftBlock {
	height: 40px;
	width: 381px;
	margin: 0;
	float: left;
	border-right: 2px solid #000;
	margin: 0 0 0 17px;
	padding: 0 0 0 19px;
	text-align: center;
	background: #006099;
	line-height: 40px;
	color: #fff;
}

.cartHeaderCountsBlocks {
	height: 40px;
	width: 77px;
	border-right: 2px solid #000;
	text-align: center;
	background: #006099;
	line-height: 40px;
	color: #fff;
}

#cartStuffList {
	height: auto;
	width:670px;
}

#cartStuffList li:first-child {
	height: 140px !important;
	width: 640px !important;
	margin: 0 14px 5px 14px;
	padding: 0 3px 5px 3px;
	border-bottom: 3px dotted #777;
}

#cartStuffList li {
	height: 140px !important;
	width: 640px !important;
	margin: 5px 14px 5px 14px;
	padding: 5px 3px 5px 3px;
	border-bottom: 3px dotted #777;
}

.cartSummaryTotalsContainer {
	width: 20%;
	padding: 0px;
}

.cartItems {
	height: 120px;
	width: 645px;
}

.cartItems h3 {
	color: #006099;
	font-weight: bold;
	font-size: 14px;
}

.cartManufact {
	color: #006099;
	font-size: 12px;
	line-height: 27px;
}

.cartManufact h4 {
	color: #000;
	font-weight: bold;
	line-height: 27px;
}

.cartItemsLeftBlock {
	width: 390px;
	margin: 0;
	float: left;
	border-right: 2px solid #000;
	padding: 10px 10px 0 0;
}

.cartCountsBlocks {
	height: 100%;
	width: 77px;
	border-right: 2px solid #000;
	padding: 10px 0 0 0;
}

.unitCost {
	font-size: 18px;
}

.carItemsUnitPriceBlock span2 {
	color: #ccc;
	font-size: 18px;
}

.cartQtyButtons {
	height: 16px;
	width: 16px;
	padding: 13px;
	float: left;	
}

.cartQty {
	width: 54px;
	float: left;
	font-size: 24px;
	margin: 0 0 0 15px;
}

.qtyInput {
	height: auto;
	width: 41px;
	margin: 0;
	background-color: transparent;
}

.cartSizes {
	height: 28px;
	width: 140px;
}

.cartRemoveButtonContainer {
	height: 28px;
	width: 137px;
	padding: 3px 0px 0px 3px;
}

.cartRemoveButtonContainer button:nth-child(1) {
	height: 15px;
	width: 95px;
	color: #ccc;
	text-align: center;
	line-height: 30px;
	border: none;
	background: none;
	padding: 7px 0 0 16px;
}

.cartRemoveButtonContainer button:first-child span:nth-child(1) {
	display: none;
}

.cartRemoveButtonContainer button:first-child span:nth-child(2) {
	padding: 0px;
	text-indent: 0;
}

.cartRemoveButton.floatLeft.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only {
	background: url(images/CartTrashIcon.png);
	height: 26px;
	width: 24px;
	border: none;
}

.cartRemoveButton span, .ui-button-icon-primary ui-icon ui-icon-closethick {display: none;}

.cartTotals {
	height: 40px;
	width: 640px;
	display: block;
	font-size: 24px;
	text-align: right;
	line-height: 40px;
}

.cartPriceHeader {
	height: 20px;
	background-color: #000;
	font-size: 12px;
	color: #fff;
	text-align: center;
}

.cartRight {
	height: 565px;
	width: 216px;
	margin: 1px 1px 1px 6px;	
	background-color: #C9F;
}

.cartSummaryContainer {
	background-color: #000;
}

.cartSummaryContainer.cartSumCont {
	padding: 0px;
	margin: 0px;
	height: 541px;
}

.cartSummary {
	height: 85px;
	width: 100%;
	margin: 0px;
	background-color: #eee;	
}

.cartShipMethods {
	margin: 0px;
}

.cartPrice {
	color: #000;
	font-size: 48px;
	text-align: center;
	line-height: 50px;
	padding: 10px 0 0 0;
}

.youSaved  {
	color: #000;
	text-align: center;
	font-size: 14px;
	line-height: 10px;
}

.discCodeContainer {
	height: 40px;
	width: 100%;
	border-top: 2px solid #000;
	background-color: #006099;
	text-align: center;
	font-size: 20px;
}

.shipOptions.shipOptCont {
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	background-color: #ffcc00;
	padding: 0 0 5px 9px;
}

.shipOptions.shipOptCont H3 {
	margin: 5px 0;
	font-weight: normal;
}

.checkoutSection {
	height: 70px;
	width: 100%;
	background-color: #eee;
}

.checkoutButtonsContainer.checkButtCont span {
	height: 43px;
	width: 195px;
	margin: 10px 0px 0px 12px;
}

.checkButt.ui-button.ui-button-text.ui-state-default.ui-corner-all.checkoutButton {
	height: 43px;
	width: 195px;
	font-size: 30px;
}

.checkSafe {
	height: 5px;
	width: 100%;
	font-size: 10px;
}













/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
ABOUT PAGE
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/

/*START ABOUT LEFT BAR*/

.aboutLeft {
	width: 480px;
	margin: 20px 0px 20px 40px;
	float: left;
}

.aboutLeft h1 {
	font-size: 30px;
	color: #000;
	margin-bottom: 10px;
}

.aboutLeft p {
	font-size: 14px;
	text-indent: 35px;
	margin: 0px;
	line-height: 25px;
}

.aboutLeft a {
	color: #000;
	text-decoration: underline;
}

.aboutImageBar1 {
	height: 160px;
	width: 100%;
}

.aboutImageBar1 img {
	margin: 10px 0px 0px 11px;
}

.aboutImageBar2 {
	height: 320px;
	width: 100%;
}

.aboutImageBar2 img {
	margin: 13px 0px 0px 13px;
}


/*END ABOUT LEFT BAR*/

/*START ABOUT MIDDLE BAR*/

.aboutMiddle {
	width: 240px;
	margin: 20px 0px 20px 0px;
	float: left;
}

.specialtyStore {
	height: 30px;
	width: 200px;
	margin: auto;
	font-size: 18px;
	color: #000;
	text-align: center;
}

.specialtyButtons {
	width: 200px;
	margin: 0px auto 0px auto;
}

.specialtyButtons li {
	height: 30px;
	width: 196px;
	margin: 5px 0px 5px 0px;
	text-align: center;
	font-size: 18px;
	color: #000;
	line-height: 30px;
}

.specialtyText {
	width: 200px;
	margin: 50px auto 0px auto;
	font-size: 12px;
}

.specialtyText li {
	margin-top: 5px;
}

.hangingIndent {
	padding-left: 10px;
	text-indent: -10px;
}

.specialtyText h3 {
	color: #000;
	font-size: 16px;
	margin: 20px 0px 5px 0px;
}

.specialtyText span {
	font-weight: bold;
}



/*END ABOUT MIDDLE BAR*/

/*START ABOUT RIGHT BAR (SIDELINE)*/


.sideline {
	height: 881px;
	width: 216px;
	background-color: #eeeeee;
	margin: 20px 40px 20px 0px;
	float: right;
	font-size: 12px;
}

.sideline li {
	color: #006099;
	font-size: 14px;
	width: 175px;
}

.sideline span {
	color: #000;
}

.aboutNav {
	width: 196px;
	padding-left: 20px;
	margin-top: 9.5px;
}

.aboutQuickNav {
	height: 152px;
	line-height: 28px;
}

.aboutHelpNav {
	height: 212px;
	line-height: 28px;
}

.aboutAcctNav {
	height: 160px;
	line-height: 30px;
}

.aboutNavBottom {
	height: 239px;
	width: 216px;
	background-color: #000;
	color: #fff;
	text-align: center;
	font-size: 12px;
	line-height: 20px;
}

.aboutNavBottom h1 {
	color: #ffcc00;
	font-size: 12px;
	line-height: 31px;
}

.aboutNavBottom h2 {
	font-size: 30px;
	line-height: 28px;
}

.aboutNavBottom h3 {
	font-size: 12px;
	line-height: 21px;
	margin-top: 10px;
}

.aboutNavBottom h4 {
	color: #ffcc00;
	font-size: 24px;
	line-height: 45px;
}

.aboutNavBottom h5 {
	font-size: 12px;
	line-height: 16px;
}


/*END ABOUT RIGHT BAR (SIDELINE)*/


/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
CONTACT CONTENT
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/


/*START CONTACT CONTENT (uses shipping content styles as well)*/

.contInfoContainer {
	width: 356px;
	float: left;
}

.contInfoContainer pl {
	color: #006099;
	text-decoration: underline;
	font-size: 14px;
	line-height: 25px;
}

.contInfoContainer pp {
	color: #006099;
	font-size: 14px;
	line-height: 25px;
}

.contactFields {
	width: 271px; 
	margin: 68px 0px 0px 29px;
	border-style: none;
}

.contactLegend {
	font-size: 18px;
	color: #000;
}

.contForm, #contactForm input {
	height: 30px;
	width: 267px;
	font-size: 12px;
}

.contForm, #contactForm input[type="submit"] {
	height: 30px;
	width: 130px;
	color: #000;
	font-size: 18px;
}

.contForm, #contactForm textarea {
	height: 200px;
	width: 267px;
	font-size: 12px;
	padding-top: 7px;
}


/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
SHIPPING CONTENT
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/


/*START SHIPPING CONTENT (also applied to return and contact pages)*/

.shippingArtic {
	width: 640px;
	margin: 0px 0px 0px 40px;
}

.shippingArtic h1 {
	color: #000;
	font-size: 30px;
	margin-bottom: 15px;
	padding-top: 30px;
}

.shippingArtic p {
	font-size: 14px;
	line-height: 25px;
}

.shippingArtic li {
	font-size: 14px;
	padding-left: 10px;
	text-indent: -16px;
}

.shippingArtic h2 {
	color: #000;
	font-size: 18px;
	margin-top: 12px;
}

.shippingArtic h3 {
	color: #000;
	font-size: 18px;
}

.shippingArtic h4 {
	color: #000;
	font-size: 22px;
}

.shippingArtic ps {
	font-size: 12px;
}

/*END SHIPPING CONTENT*/


/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
FAQ CONTENT
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/


.faqArtic {
	width: 700px;
	margin: 0px 0px 20px 40px;
}

.faqArtic h1 {
	color: #000;
	font-size: 30px;
	margin-bottom: 15px;
	padding-top: 16px;
}


/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
PRIVACY STATEMENT CONTENT
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/


.privacyArtic {
	width: 700px;
	margin: 0px 0px 20px 40px;
	font-family: "Open Sans";
}

.privacyArtic h1 {
	margin-bottom: 15px;
	padding-top: 10px; 
}


/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
NEWSLETTER SIGN UP CONTENT / FORM
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/

.newsletterSubscribeFormInput {
	height: 30px;
	width: 267px;
	font-size: 12px;
	margin-left: 37px;
}

.newsletterSubscribeFormCheckbox {
	color: #000;
}

.newsletterSubscribeFormSubmitContianer {
	margin-left: 50px;
}

.newsletterSubscribeForm, #subscribeFrm input[type='submit'] {
	font-size: 14pt;
}



/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
PRODUCT REVIEWS TEMPLATE
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/


.prodReviewInfo {
	height: 73px;
	width: 100%;
	line-height: 37px;	
}

.reviewDiv p {
	font-family: "Open Sans";
	font-size: 12px;
}

.prodReviewCustomer {}

.prodReviewRating {
	height: 20px;
	width: 100px;
	margin: 0px auto 0px auto;
}



/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
LOGIN MODAL
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/


/*.loginOption.displayNone.ui-dialog-content.ui-widget-content {
	background-image: url(images/ModalBckgrnd.png);}*/

.modalLogin.loginOption.displayNone {
	background-image: url(images/ModalBckgrnd.png);
}


/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
WISH LIST
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/


.wishList {
	margin-left: 40px;
}

.wishList h1 {
	color: #000;
	font-size: 30px;
	margin: 10px 0px 10px 0px;
}

.prodlist {
	height: auto;
	width: 690px;
	
}

.prodlist > ul {
	height: 44px; 
	width: 680px;
}

.prodlist.ui-tabs .ui-tabs-panel {
	padding: 5px;
}

.wishlistLi h5 {}

.wishlistLi h6 {}

/*
#wishListContents, .ui-tabs-panel.ui-widget-content.ui-corner-bottom {
	height: auto;
	width: 500px;
}

#listsContainer, .ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all {
	height: 50px;
	width: 680px;
}
*/
#prodlistBuyerList_wishlist_container {
	height: auto;
	width: 680px;
}

#prodlistBuyerList_wishlist {
	clear:none;
}

.lineItemProdlist > li {
	height: 150px !important;
}

.cartItemsLeftBlock .prodThumbContainer {
	margin: 0 10px 0 0;
}

/*#prodlistBuyerList_wishlist, .listStyleNone.clearfix.noPadOrMargin.lineItemProdlist, .clearfix:after {
	clear: none;
	height: 200px;
	width: 680px;
}*/


/**************************************************************************
SEARCH RESULTS
**************************************************************************/


.searchResultsPage {
	height: auto;
	width: 944px;
	padding: 0 40px 0 46px;
}

.resultsHeader.clearfix {
	height: auto;
	width: 928px;
	background-color: #000;
	color: #fff;
	margin-left: -6px;
	top: -1px;
	text-align:center;
	font-family: Bangers;
	font-size: 18px;
}

.resultsMenuContainer .resultsMenu {
	height: 29px;
	width: 485px;
	position:absolute;
	top: 0px;
	left: 225px;
	text-align: center;
	font-size: 18px;
	font-family: Bangers;
}
.resultsMenuContainer .resultsMenu li ul {
	width:120px;
}

.resultsMenuContainer .resultsMenu li ul li {
	height: 32px;
	width: 120px;
	}

.prevMove {
	position:absolute;
	left: -795px;/*-386px;*/
}

.nextMove {
	position:absolute;
	right: 32px;
}
/*
.resultsProdList {height:100%; width:950px; margin:auto;}
.resultsProductListContainer, .slider-range, .ui-slider, .ui-slider-horizontal, .ui-widget, .ui-widget-content, .ui-corner-all {
	height: auto;
	width: 80%;
	margin: -1px 40px -5px 40px;
}

/*
li[data-templateid="productListTemplateResults"]
*/
/*
.resultsProductListContainer .ui-button .ui-widget .ui-state-default .ui-corner-all .ui-button-icon-only .prevPageButton, .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default .ui-widget .ui-widget  .resultsHeader {
	position:relative;
	left:0px;
}

.resultsProductListContainer .ui-button .ui-widget .ui-state-default .ui-corner-all .ui-button-icon-only .nextPageButton, .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	position:relative;
	left:120px;
}*/


/*************************************************************************************
MP CONTROLS
*************************************************************************************/

.ddUlMenu ul li a {padding: 0 12px 3px 12px;}

.ddUlMenu li ul {
	width: 136px;
	margin: 21px 0 0 -18px;
}

.ddUlMenu li ul li {
	margin: 5px 0;
	text-align: center;
}








