@charset "utf-8";
/* CSS Document */

body {
	background: white;	
}

#appPreview, #appView {
	background: white;
	margin: 0px auto;
	width: 1020px;	
}

a {
	color: #ffffff;
	text-decoration: none;
}

.border {
	border: 2px solid #000;	
}

.borderRound {
	border-radius: 5px;
	border: 2px solid #000;	
}

.borderRight {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 2px solid #000;
}

.borderLeft {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border: 2px solid #000;
}

.bangersFont {
	color: #ffffff;
	font-family: Bangers;
	font-size: 15px;
}

.bangersMedFont {
	color: #ffffff;
	font-family: Bangers;
	font-size: 22px;
	text-shadow: 
		-1px -1px 0 #000,
    	1px -1px 0 #000,
   		-1px 3px 0 #000,
    	1px 1px 0 #000;  
	text-align: left;
}

.bangersBigFont {
	color: #ffffff;
	font-family: Bangers;
	font-size: 36px;
	text-shadow: 
		-1px -1px 0 #000,
    	1px -1px 0 #000,
   		-1px 4px 0 #000,
    	1px 1px 0 #000;  
	text-align: center;
}

.openSansFont {
	color: #000;
	font-family: "Open Sans";	
	font-size: 15px;
	font-weight: bold;
}

.openSansXBoldFont {
	color: #000;
	font-family: "Open Sans";	
	font-size: 15px;
	font-weight: 900;
}

.textShadow {
	text-shadow: 
		-1px -1px 0 #000,
    	1px -1px 0 #000,
   		-1px 3px 0 #000,
    	1px 1px 0 #000;  	
}

.form {
	height: 29px;
	width: 196px;
	font-family: "Open Sans";
	font-weight: bold;
	font-size: 15px;
	color: #000;
}

.button {
	height: 35px;
	width: 50px;
	text-align: center;
	background: #00b7f5; /* Old browsers */
		background: -moz-linear-gradient(top, #00b7f5 0%, #00093d 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7f5), color-stop(100%,#00093d)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #00b7f5 0%,#00093d 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #00b7f5 0%,#00093d 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #00b7f5 0%,#00093d 100%); /* IE10+ */
		background: linear-gradient(to bottom, #00b7f5 0%,#00093d 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7f5', endColorstr='#00093d',GradientType=0 ); /* IE6-9 */;
	color: white;
}

.blueGradient {
	background: #00b7f5; /* Old browsers */
	background: -moz-linear-gradient(top, #00b7f5 0%, #00093d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7f5), color-stop(100%,#00093d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #00b7f5 0%,#00093d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #00b7f5 0%,#00093d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #00b7f5 0%,#00093d 100%); /* IE10+ */
	background: linear-gradient(to bottom, #00b7f5 0%,#00093d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7f5', endColorstr='#00093d',GradientType=0 ); /* IE6-9 */;
}

.reverseBlueGradient {
	background: #00b7f5; /* Old browsers */
	background: -moz-linear-gradient(top, #00093d 0%, #00b7f5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00093d), color-stop(100%,#00b7f5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #00093d 0%,#00b7f5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #00093d 0%,#00b7f5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #00093d 0%,#00b7f5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #00093d 0%,#00b7f5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00093d', endColorstr='#00b7f5',GradientType=0 ); /* IE6-9 */;
}


/****************************************

PERSISTENT CONTENT

****************************************/

/*************************************************************************************

HEADER

*************************************************************************************/


.topNavContainer {
	height: 30px;
	width: 1020px;
	background-color: #000000;
	float: left;
}

.topNavLeft {
	height: 20;
	width: 40%;
	padding-left: 40px;
	margin-top: 7px;
	text-align: left;
	float: left;	
}

.topNavRight {
	height: 20;
	padding-right: 40px;
	margin-top: 8px;
	text-align: right;
	float: right;
}

.topNavLink {
	width: 110px;
	float: left;
}

#yellowShopping {
	color: #ffcc00;	
}

.headerBrandingContainer {
	height: 152px;
	width: 940px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

.headerBranding {
	float: left;
	width: 313px;
}

.headerBranding 2bhipLogo {
	margin-top: 10px;
	margin-left: 25px;	
}

.headerSearchBar {
	position: absolute;
	top: 85px;
	left: 525px;
}

.headerSearchButton {
	position: absolute;
	top: 85px;
	left: 723px;
}

#headerPhone {
	position: absolute;
	top: 50px;
	left: 885px;
	margin-bottom: 10px;
}

.socialIconContainer {
	position: absolute;
	top: 100px;
	left: 830px;
	height: 50px;
	width: 263px;
	margin-left: 25px;	
}

.socialIcons {
	height: 40px;
	width: 20%;
	margin-top: 4px;
	margin-left: 10px;
	float: left;	
}

.socialIcons img {
	margin-left: 9px;
}

.mainNavBarContainer {
	position: relative;
	height: 100px;
	width: 940px;	
	background-color: #ffcc00;
	margin: auto;
	z-index: 1;
}

.mainNavBarContainer img {
	position: absolute;
	top: 0px;
	z-index: 0;	
}

.mainNavBarLinksContainer {
	position: absolute;
	height: 100px;
	width: 940px;	
}

.mainNavBarLinks {
	z-index: 3;
	height: 40px;
	width: 155px;
	margin-top: 20px;
	margin-left: 15px;
	font-size: 31px;
	float: left;	
}

#characters {
	width: 230px;	
}

.navBarContainer {
	position: absolute;
	top: 235px;
	left: 50%;
	height: 50px;
	width: 960px;
	margin-left: -480px;
	z-index: 4;
}


/*NAV BAR DROP DOWN**************************************************************/

.nav {
	width: 85px;
	color: #fff;
	float: left;
	position:relative;
	height: 48px;
	overflow: show;
	font-size: 13px;
	text-align: center;
}

.nav:hover {
	border: 2px solid #000;	
	background-color: background: #00b7f5; /* Old browsers */
	background: -moz-linear-gradient(top, #00093d 0%, #00b7f5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00093d), color-stop(100%,#00b7f5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #00093d 0%,#00b7f5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #00093d 0%,#00b7f5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #00093d 0%,#00b7f5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #00093d 0%,#00b7f5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00093d', endColorstr='#00b7f5',GradientType=0 ); /* IE6-9 */;
}

.tooNarrow {
	width: 40px;
}

.tooWide {
	width: 105px;
}
	
.dropdown {
	height: 0px;
	width: 707px;
	position:absolute;
	background-image: url(images/DropdownImage.png);
	top: 20px;
	margin-top: 31px;
	overflow: hidden;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: bold;
	text-align: left;
}

.dropdown.leftAlign {
	left: 0px;
}

.dropdown.rightAlign {
	right: 0px;
}

.ddListHead {
	color: #000;
	font-size: 18px;
	line-height: 30px;
}

.dropdown ul {
	color: #006099;
	font-family: "Open Sans";
	list-style: none;
	line-height: 20px;
}

.dropdown li {
	margin: 0px 0px;
}

.dropdown div:first-of-type {
	margin-top: 0px;
}

.dropdown div {
	margin-bottom: 10px;
}

#navBar {
	width: 100%;
}

.clear {
	clear: both;
}

#main {
	height: 40px;
	width: 960px;
	line-height: 48px;
	margin-left: 5px;
}

/*END NAV BAR DROP DOWN**********************************************************/

.freeShippingBarContainer {
	height: 50px;
	width: 940px;	
	background-color: #000000;
	margin-top: 24px;
	margin-left: auto;
	margin-right: auto;
}

.freeShipping {
	width: 740px;
	margin-top: 9px;
	padding-left: 110px;
	float: left;	
}

.learnMore {
	height: 30px;
	width: 80px;
	margin-top: 14px;
	float: right;
}


/*************************************************************************************

FOOTER

*************************************************************************************/



/*FOOTER INTERACTION*********************************************/

.footerInteractionContainer {
	position: relative;
	height: 70px;
	width: 1020px;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
}

.footerGradient {
	background: #575757; /* Old browsers */
	background: -moz-linear-gradient(top, #575757 0%, #1c1c1c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#575757), color-stop(100%,#1c1c1c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #575757 0%,#1c1c1c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #575757 0%,#1c1c1c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #575757 0%,#1c1c1c 100%); /* IE10+ */
	background: linear-gradient(to bottom, #575757 0%,#1c1c1c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#575757', endColorstr='#1c1c1c',GradientType=0 ); /* IE6-9 */
}

.stayUpdatedContainer {
	position: absolute;
	top: 18px;
	left: 37px;
	height: 40px;
	width: 568px;	
}

.stayUpdated {
	position: absolute;
	top: 6px;
	left: 0px;
	width: 115px;	
}

.footerNameBar{
	position: absolute;
	left: 115px;
}

.footerEmailBar{
	position: absolute;
	top: 0px;
	left: 320px;	
}

.footerButtonContainer {
	position: absolute;
	left: 518px;
	top: 0px;
	height: 35px;
	width: 50px;	
}

.footerSignUpButton {	
	height: 35px;
	width: 50px;
	text-align: center;
	background: #009;
	color: white;
}

.getSocial {
	position: absolute;
	left: 630px;
	top: 27px;
	height: 50px;
	width: 122px;	
}

.footerSocialIconContainer {
	position: absolute;
	left: 733px;
	top: 11px;
	width: 263px;	
}


/*FOOTER LINKS*********************************************/

.footerLinksContainer {
	height: 350px;
	width: 1020px;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	background-color: #006099;	
}

.footerLinks {
	height: 325px;
	width: 237px;
	margin-left: 18px;
	float: left;	
}

.catagories {
	margin-left: 25px;	
}

.footerLinks ul {
	list-style: none;
}

.footerLinkHead {
	margin-top: 20px;	
	margin-bottom: 10px;	
	font-size: 22px;
	text-align: left;
}

.footerLinkListItem {
	margin-bottom: 5px;	
	color: #ffffff;
	font-size: 14px;
	
}


/*FOOTER INFO BAR*********************************************/
.footerInfoContainer {
	position: relative;
	height: 60px;
	width: 1020px;
	background-color: #000;
}

.creditContainer {
	position: absolute;
	top: 1px;
	left: 50%;
	height: 50px;
	width: 196px;
	margin-left: -98px;	
}

.creditCards {
	height: 29px;
	width: 55px;
	margin-top: 14px;
	float: left;
}

.amex {
	width: 30px;
}

.mcaffeContainer {
	height: 23px;
	width: 96px;
	margin-top: 19px;
	margin-right: 40px;
	background-image: url(images/McAfeeLogo.png);
	float: right;	
}


.copyright {
	height: 62px;
	width: 1020px;
	padding-top: 25px;
	text-align: center;	
}


/*************************************************************************************

FOOTER

*************************************************************************************/


.mainBannerContainer {
	height: 300px;
	width: 936px;
	margin: auto;
	background-color: #09F;
}

.relativeMainBannerContainer {
	position: relative;
	height: 300px;
	width: 936px;
	margin: auto;
	background-color: #90C;
	z-index: 0;
}

.carouselButtonLeft {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 300px;
	width: 60px;
	background-color: #F00;
	z-index: 1;
}

.carouselBlackButtonLeft {
	position: absolute;
	top: 250px;
	left: 0px;
	height: 50px;
	width: 110px;
	background-color: #000;
	z-index: 2;
}

.carouselYellowButton {
	position: absolute;
	top: 170px;
	left: 560px;
	height: 50px;
	width: 220px;
	background-color: #FF0;
	z-index: 1;
}

.carouselBlackButtonRight {
	position: absolute;
	top: 250px;
	left: 826px;
	height: 50px;
	width: 110px;
	background-color: #000;
	z-index: 2;
}

.carouselButtonRight {
	position: absolute;
	top: 0px;
	left: 876px;
	height: 300px;
	width: 60px;
	background-color: #F00;
	z-index: 1;
}



.mainCarouselContainer {
	height: 160px;
	width: 960px;
	margin: auto;
	background-color: #090;
}

.carouselButton {
	height: 160px;
	width: 40px;
	background-color: #F00;
	float: left;
}


.carouselCatagories {
	height: 160px;
	width: 293.33px;
	background-color: #FF0;
	float: left;
}








.miscInfoContainer {
	height: 500px;
	width: 940px;
	margin: auto;
	background-color: #F3F;}

.miscLeft {
	height: 500px;
	width: 430px;
	margin-top: 20px;
	background-color: #666;
	float: left;
}
        	
.miscRight {
	height: 230px;
	width: 450px;
	background-color: #999;
	margin-top: 20px;
	float: right;
}















